<div class="d-flex flex-column align-items-stretch w-100 shadow-sm p-3 border border-light-subtle rounded mb-2">

    <div class="d-flex flex-row align-items-center justify-content-between">
        <h5 [ngClass]="{'text-primary': focus }" 
            (click)="verProjetos()"
            class="mb-0"
            style="cursor: pointer;" (mouseleave)="changeFocus(false)" (mouseover)="changeFocus(true)">
            {{equipe.nome}}
        </h5>

        <div class="fs-6 d-flex align-items-center justify-content-center rounded hoveredcls divbtn" (click)="editShow()"
             [ngClass]="{'text-primary bg-primary-subtle': !editEquipe, 'text-danger bg-danger-subtle': editEquipe}">
            <fa-icon [icon]="['fas', 'gear']"  *ngIf="!editEquipe"></fa-icon>
            <fa-icon [icon]="['fas', 'minus']" *ngIf="editEquipe"></fa-icon>
        </div>
    </div>

    <div class="d-flex flex-column align-items-stretch" *ngIf="editEquipe">
        <div class="card mt-4"  *ngIf="equipe.idcredencial == 2">
            <div class="card-body">
                <div class="d-flex flex-column align-items-stretch">
                    <div class="form-group">
                        <label style="font-size: 12px;" for="nome-equipe">
                            <b>Nome da Equipe:</b>
                        </label>
                        <input class="form-control form-control-sm w-50" id="nome-equipe" [(ngModel)]="equipe.nome">
                    </div>
        
                    <div class="d-grid gap-2 mt-2 d-flex flex-row justify-content-start align-items-center">
                        <button class="btn bg-success-subtle text-success btn-sm hoveredcls" (click)="updateequipeconfirm()">
                            <fa-icon [icon]="['fas', 'refresh']" class="me-2"></fa-icon>
                            <span>Atualizar</span>
                        </button>
        
                        <button class="btn bg-danger-subtle text-danger btn-sm hoveredcls" (click)="deleteequipeconfirm()">
                            <fa-icon [icon]="['fas', 'times']" class="me-2"></fa-icon>
                            <span>Desabilitar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column align-items-stretch">
            <div class="card mt-4">
                <div class="card-body">
                    <div class="d-flex flex-row align-items-end" *ngIf="equipe.idcredencial == 2">
                        <div class="form-group">
                            <label style="font-size: 12px;" for="email-request-equipe">
                                Adicionar participante a equipe:
                            </label>
                            
                            <input class="form-control form-control-sm" id="email-request-equipe" [(ngModel)]="emailAddPart">
                        </div>
                        <button class="btn bg-primary-subtle text-primary hoveredcls btn-sm ms-2" (click)="adicionarpartconfirm()">
                            <fa-icon [icon]="['fas', 'plus']" class="me-2"></fa-icon>
                            <span>Adicionar</span>
                        </button>
                    </div>

                    <div class="d-flex flex-row align-items-end w-100" *ngIf="equipe.idcredencial == 1">
                        <div class="card w-100" *ngIf="users.length > 0">
                            <div class="card-body">
                                <div>
                                    <b>
                                        Você é um usuário observador, não tem permissão para editar.
                                    </b>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-flex flex-column align-items-stretch mt-2">
                        <div *ngIf="users.length == 0" 
                             class="p-1 pe-2 d-flex flex-row align-items-center justify-content-between">
                            <span style="font-size: 13.5px;">{{fallbacktext}}</span>
                        </div>
        
                        <div class="card" *ngIf="users.length > 0">
                            <div class="card-body">
                                <div class="card-title">
                                    <b>
                                        Participantes da equipe
                                    </b>
                                </div>

                                <div *ngFor="let user of users; let i = index" class="card" [ngClass]="{'mt-2': i > 0}">
                                    <div class="card-body ">
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <div class="d-flex flex-column">
                                                <span style="font-size: 13.5px;"><b>Nome:</b> {{user.nome}}</span>
                                                <span style="font-size: 13.5px;"><b>E-mail:</b> {{user.email}}</span>
                                            </div>
                                            <div class="fs-6 text-danger bg-danger-subtle rounded text-danger hoveredcls d-flex align-items-center justify-content-center p-2 divbtn"
                                                (click)="removeuserconfirm(user)" *ngIf="equipe.idcredencial == 2">
                                                <fa-icon [icon]="['fas', 'times']" class="me-2"></fa-icon>
                                                <span>Remover</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>