<div class="container-fluid align-self-stretch p-0" >
    <!-- Título da página -->
    <div class="row border-bottom border-black sticky-top bg-white" style="height: 48px;">
        <div class="d-flex flex-row align-items-center h-100 w-100">
            <button class="btn btn-white btn-sm me-2" (click)="goback()"  [ngClass]="{'text-primary': focusleave }"  
                    (mouseleave)="changeFocus(false)" (mouseover)="changeFocus(true)">
                <fa-icon [icon]="['fas', 'angles-left']"></fa-icon>
            </button>
            <h4>
                {{projetoAtual?.nome}} ({{projetoAtual?.identificador}})
            </h4>
        </div>
    </div>

    <div class="row">
        <nav class="navbar navbar-expand-lg bg-light pt-0 pb-0">
            <div class="container-fluid ps-0 scrlsty">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
                        <li *ngFor="let item of itensNavBar" class="nav-item"
                            class="fs-6 ps-5 pe-5 p-2 d-flex align-items-center justify-content-center"
                            style="cursor: pointer; "
                            [ngClass]="{'border border-5 border-start-0 border-end-0 border-top-0 border-bottom-1 bg-primary-subtle border-primary text-primary': item.isclicked}"
                            (click)="clickf(item)">

                            <span class="nav-link p-0" 
                                  style="min-width: 175px; text-align: center;"
                                  [ngStyle]="{'color': (item.isclicked ? '' : 'black')}" [ngClass]="{'text-primary': item.isclicked}">
                                {{item.text}}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="row">
        <router-outlet></router-outlet>
    </div>

    <!-- border border-start-0 border-end-0 bg-primary-subtle border-primary text-primary -->

    <app-dialogcomp [key]="dialogKey"></app-dialogcomp>
</div>