<div class="container-fluid align-self-stretch p-0" >
    <!-- Título da página -->
    <div class="row border-bottom border-black sticky-top bg-white pb-2" style="height: 48px;">
         <div class="d-flex flex-row align-items-center h-100 w-100">
             <h4>
                 Manutenção de Projetos
             </h4>
             <button *ngIf="equipeParam != null" class="btn bg-primary-subtle text-primary hoveredcls btn-sm ms-3" (click)="desmarcarEquipe()" style="width: 180px;">
                 Desmarcar equipe
             </button>
         </div>
    </div>

    <!-- Opção de adicionar novo projeto -->
    <div class="row p-1 mb-2 mt-2" *ngIf="adicionandoProjeto == false">
        <div class="col-md-12 p-0" style="height: 180px;">
            <app-create-area [exec]="2" [text]="'Adicionar Projeto'"></app-create-area>
        </div>
    </div>

    <!-- Criação de um novo projeto -->
    <div class="row p-1 mb-2 mt-2" *ngIf="adicionandoProjeto == true">
        <div class="col-md-12 p-0">
            <div class="d-flex flex-row w-100">
                <div class="form-group w-25 me-2">
                    <label style="font-size: 12px;" for="nome-projeto">
                        <b>Nome do Projeto:</b>
                    </label>
                    <input class="form-control form-control-sm w-100" id="nome-projeto" [(ngModel)]="nome">
                </div>
    
                <div class="form-group w-25 me-2">
                    <label style="font-size: 12px;" for="codigo-acesso">
                        <b>Código de acesso:</b>
                    </label>
                    <input class="form-control form-control-sm w-100" id="codigo-acesso" type="password" digitOnly [(ngModel)]="codigoAcesso">
                </div>

                <div class="form-group w-25 me-2">
                    <label style="font-size: 12px;" for="equipe-projeto">
                        <b>Equipe do projeto:</b>
                    </label>
                    
                    <select class="form-control form-control-sm w-100" id="equipe-projeto" 
                            [(ngModel)]="idequipe" [disabled]="disableSelectEquipe"
                            (change)="verificaCredencialEquipe()">
                        <option *ngFor="let item of equipesSelect" [value]="item.idequipe">
                            {{item.nome}}
                        </option>
                    </select> 
                   
                </div>
            </div>
        </div>

        <div class="d-grid gap-2 mt-2 d-flex flex-row justify-content-start align-items-center p-0">
            <!-- Controle de visibilidade para adição do projeto -->
            <button class="btn btn-success btn-sm" (click)="addprojetoconfirm()" *ngIf="!disableCreateProjeto">
                <fa-icon [icon]="['fas', 'plus']" class="me-2"></fa-icon>
                <span>Adicionar projeto</span>
            </button>
            <button class="btn btn-danger btn-sm" *ngIf="disableCreateProjeto">
                <fa-icon [icon]="['fas', 'minus']" class="me-2"></fa-icon>
                <span>Não autorizado a adicionar projetos</span>
            </button>

            <button class="btn btn-danger btn-sm" (click)="cancelarProjeto()">
                <fa-icon [icon]="['fas', 'times']" class="me-2"></fa-icon>
                <span>Retornar</span>
            </button>
        </div>
    </div>

    <!-- Listagem dos projetos -->
    <div class="row p-1 mb-2 mt-2">
        <div class="col-md-12 p-0">
            <app-item-projeto *ngFor="let projeto of projetosAtuais" [projeto]="projeto"></app-item-projeto>
        </div>
    </div>

    <app-dialogcomp [key]="dialogKey"></app-dialogcomp>
</div>