<div class="d-flex flex-column align-items-stretch w-100 shadow-sm p-3 border border-light-subtle rounded mb-2">

    <div class="d-flex flex-row align-items-center justify-content-between">
        <h5 [ngClass]="{'text-primary': focus }" 
            (click)="verProjeto()"
            class="mb-0"
            style="cursor: pointer;" (mouseleave)="changeFocus(false)" (mouseover)="changeFocus(true)">
            {{projeto.nome}}
            <!-- - {{projeto.identificador}} -->
        </h5>

        <div class="fs-6 d-flex align-items-center justify-content-center rounded hoveredcls divbtn" (click)="edit()"
             [ngClass]="{'text-primary bg-primary-subtle': !editProjeto, 'text-danger bg-danger-subtle': editProjeto}">
            <fa-icon [icon]="['fas', 'gear']"  *ngIf="!editProjeto"></fa-icon>
            <fa-icon [icon]="['fas', 'minus']" *ngIf="editProjeto"></fa-icon>
        </div>
    </div>

    <div class="d-flex flex-column align-items-stretch" *ngIf="editProjeto">
        <div class="d-flex flex-column align-items-stretch">
            <div class="card mt-4">
                <div class="card-body">
                    <div class="card-title">
                        <b>
                            Credênciais de acesso do projeto
                        </b>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row p-2 align-items-center" (click)="copiarValor(projeto.identificador, copyTags[1])">
                            <div class="fs-6 d-flex align-items-center justify-content-center rounded hoveredcls divbtn text-primary bg-primary-subtle me-2" 
                                 title="Copiar"
                                 [ngClass]="{'text-primary bg-primary-subtle': copyValues[copyTags[1]] == false, 'text-success bg-success-subtle': copyValues[copyTags[1]] == true}">
                                <fa-icon [icon]="['fas', 'file']"></fa-icon>
                            </div>
                            <span style="font-size: 15px;"><b>Identificador:</b> {{projeto.identificador}}</span>
                        </div>

                        <div class="d-flex flex-row p-2 align-items-center" (click)="copiarValor(projeto.codigo, copyTags[2])">
                            <div class="fs-6 d-flex align-items-center justify-content-center rounded hoveredcls divbtn me-2" 
                                 title="Copiar"
                                 [ngClass]="{'text-primary bg-primary-subtle': copyValues[copyTags[2]] == false, 'text-success bg-success-subtle': copyValues[copyTags[2]] == true}">
                                <fa-icon [icon]="['fas', 'file']"></fa-icon>
                            </div>
                            <span style="font-size: 15px;"><b>Código de acesso:</b> {{projeto.codigo}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="form-group w-25 me-2">
                            <label style="font-size: 12px;" for="nome-projeto">
                                <b>Nome do Projeto:</b>
                            </label>
                            <input class="form-control form-control-sm w-100" id="nome-projeto" [(ngModel)]="nome">
                        </div>
            
                        <div class="form-group w-25 me-2">
                            <label style="font-size: 12px;" for="codigo-acesso">
                                <b>Código de acesso:</b>
                            </label>
                            <input class="form-control form-control-sm w-100" id="codigo-acesso" digitOnly type="number" [(ngModel)]="codigoAcesso">
                        </div>
                    </div>
        
                    <div class="d-grid gap-2 mt-2 d-flex flex-row justify-content-start align-items-center">
                        <button class="btn bg-success-subtle text-success btn-sm hoveredcls" (click)="atualzarconfirm()">
                            <fa-icon [icon]="['fas', 'refresh']" class="me-2"></fa-icon>
                            <span>Atualizar</span>
                        </button>
        
                        <button class="btn bg-danger-subtle text-danger btn-sm hoveredcls" (click)="deletarconfirm()">
                            <fa-icon [icon]="['fas', 'times']" class="me-2"></fa-icon>
                            <span>Excluir</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>