
<div class="container-fluid h-100 w-100 bkg-gray">
    
    <div class="row h-100 w-100" *ngIf="cardlogin == true">
        <div class="col-md-12 h-100 w-100 d-flex justify-content-center align-items-center">
            <div class="card" style="width: min(30vw, 300px);">
                <div class="card-body">
                    <div class="card-title text-center">
                        <b>
                            Faça seu login
                        </b>
                    </div>

                    <div class="form-group">
                        <label style="font-size: 12px;" for="usermail-log"><b>E-mail:</b></label>
                        <input class="form-control form-control-sm" id="usermail-log" type="email" [(ngModel)]="emailLogin">
                    </div>

                    <div class="form-group">
                        <label style="font-size: 12px;" for="userpassword-log"><b>Senha:</b></label>
                        <input class="form-control form-control-sm" id="userpassword-log" type="password" [(ngModel)]="senhaLogin">
                    </div>

                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-success btn-sm" (click)="login()">
                            <fa-icon [icon]="['fas', 'door-open']" class="me-2"></fa-icon>
                            <span>Entrar</span>
                        </button>
                    </div>

                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-outline-primary btn-sm" (click)="changeCard()">
                            <fa-icon [icon]="['fas', 'plus']" class="me-2"></fa-icon>
                            <span>Criar conta</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row h-100 w-100" *ngIf="cardlogin == false">
        <div class="col-md-12 h-100 w-100 d-flex justify-content-center align-items-center">
            <div class="card" style="width: min(30vw, 300px);">
                <div class="card-body">
                    <div class="card-title text-center">
                        <b>
                            Insira seus dados para cadastro
                        </b>
                    </div>

                    <div class="form-group">
                        <label style="font-size: 12px;" for="username-reg"><b>Nome:</b></label>
                        <input class="form-control form-control-sm" id="username-reg" [(ngModel)]="nomeCreate">
                    </div>

                    <div class="form-group">
                        <label style="font-size: 12px;" for="usermail-reg"><b>E-mail:</b></label>
                        <input class="form-control form-control-sm" id="usermail-reg" [(ngModel)]="emailCreate">
                    </div>

                    <div class="form-group">
                        <label style="font-size: 12px;" for="userpassword-reg"><b>Senha:</b></label>
                        <input class="form-control form-control-sm" id="userpassword-reg" type="password" [(ngModel)]="senhaCreate">
                    </div>

                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-success btn-sm" (click)="cadastrar()">
                            <fa-icon [icon]="['fas', 'user-plus']" class="me-2"></fa-icon>
                            <span>Cadastrar</span>
                        </button>
                    </div>

                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-outline-primary btn-sm" (click)="changeCard()">
                            <fa-icon [icon]="['fas', 'right-from-bracket']" class="me-2"></fa-icon>
                            <span>Voltar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-dialogcomp [key]="dialogKey"></app-dialogcomp>
</div>