
<div class="container-fluid h-100 w-100 bkg-gray">
    
    <div class="row h-100 w-100" *ngIf="cardlogin == true">
        <div class="col-md-12 h-100 w-100 d-flex justify-content-center align-items-center">
            <div class="card" style="width: min(30vw, 300px);">
                <div class="card-body">
                    <div class="card-title text-center">
                        <b>
                            Faça seu login
                        </b>
                    </div>

                    <div class="form-group">
                        <label style="font-size: 12px;" for="usermail-log"><b>E-mail:</b></label>
                        <input class="form-control form-control-sm" id="usermail-log">
                    </div>

                    <div class="form-group">
                        <label style="font-size: 12px;" for="userpassword-log"><b>Senha:</b></label>
                        <input class="form-control form-control-sm" id="userpassword-log" type="password">
                    </div>

                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-success btn-sm" (click)="login()">
                            Entrar
                        </button>
                    </div>

                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-outline-primary btn-sm" (click)="changecard()">
                            Criar conta
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row h-100 w-100" *ngIf="cardlogin == false">
        <div class="col-md-12 h-100 w-100 d-flex justify-content-center align-items-center">
            <div class="card" style="width: min(30vw, 300px);">
                <div class="card-body">
                    <div class="card-title text-center">
                        <b>
                            Insira seus dados para cadastro
                        </b>
                    </div>

                    <div class="form-group">
                        <label style="font-size: 12px;" for="username-reg"><b>Nome:</b></label>
                        <input class="form-control form-control-sm" id="username-reg">
                    </div>

                    <div class="form-group">
                        <label style="font-size: 12px;" for="usermail-reg"><b>E-mail:</b></label>
                        <input class="form-control form-control-sm" id="usermail-reg">
                    </div>

                    <div class="form-group">
                        <label style="font-size: 12px;" for="userpassword-reg"><b>Senha:</b></label>
                        <input class="form-control form-control-sm" id="userpassword-reg" type="password">
                    </div>

                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-success btn-sm" (click)="cadastrar()">
                            Cadastrar
                        </button>
                    </div>

                    <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-outline-primary btn-sm" (click)="changecard()">
                            Voltar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>