
<div class="container-fluid">
    <div class="row md-12">
        <div class="col md-12">
            <div class="card mt-4">
                <div class="card-body">
                    <div class="mb-2">
                        <span class="fs-5">Equipe do projeto: </span>
                    </div>
                    <div>
                        <span class="fs-5">Status do projeto: </span>
                    </div>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body">
                    
                    <div class="mb-2">
                        <span class="fs-5">Quantidade de usuários pesquisados: </span>
                    </div>
                    <div class="mb-2">
                        <span class="fs-5">Quantidade de registros de navegação: </span>
                    </div>
                    <div class="mb-2">
                        <span class="fs-5">Quantidade de tempo de navegação: </span>
                    </div>
                    <div>
                        <span class="fs-5">Quantidade de domínios pesquisados: </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>