
<div class="container-fluid">
    <div class="row md-12">
        <div class="col md-12">
            <div class="card mt-4">
                <div class="card-body">
                    <div>
                        <span class="fs-5">Total: {{conversor.msToTime(getFullTime())}}</span>
                    </div>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <div>
                        <span class="fs-6"><b>Controle de update das informações:</b> </span>
                    </div>

                    <div>
                        <div class="form-group w-25 me-2">
                            <label style="font-size: 12px;" for="nr-limite">
                                <b>Recarregar a cada:</b>
                            </label>
                            <select class="form-control form-control-sm w-100" [(ngModel)]="reloadTime" (change)="timerSet()">
                                <option value="30">30 segundos</option>
                                <option value="60" [selected]="true">1 minuto</option>
                                <option value="120">2 minutos</option>
                                <option value="300">5 minutos</option>
                                <option value="-1">Não Recarregar</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-4 scrlsty data-card-scroll" style="height: 600px;">
                <div class="card-body p-0">
                    <div class="sticky-top bg-white p-3 shadow-sm" style="z-index: 1;">
                        <div>
                            <span class="fs-6"><b>Domínios por tempo:</b> </span>
                        </div>

                        <div class="d-flex flex-row" *ngIf="temposDominios.length">
                            <div class="w-50 d-flex flex-row">
                                <div class="form-group w-50 me-2">
                                    <label style="font-size: 12px;" for="ordenacao">
                                        <b>Ordenação:</b>
                                    </label>

                                    <select class="form-control form-control-sm w-100" id="ordenacao" [(ngModel)]="ordenaTempoList.indice"
                                            (change)="changeOrder(ordenaTempoList)">
                                        <option *ngFor="let dominioreg of ordenaTempoList.regras" value="{{dominioreg.indice}}">
                                            {{dominioreg.label}}
                                        </option>
                                    </select>
                                </div>
        
                                <div class="form-group w-50 me-2">
                                    <label style="font-size: 12px;" for="nr-limite">
                                        <b>Limite:</b>
                                    </label>
                                    <select class="form-control form-control-sm w-100" [(ngModel)]="ordenaTempoList.limite" (change)="changeOrder(ordenaTempoList)">
                                        <option value="5">5 registros</option>
                                        <option value="10">10 registros</option>
                                        <option value="20">20 registros</option>
                                        <option value="30">30 registros</option>
                                        <option value="40">40 registros</option>
                                        <option value="50">50 registros</option>
                                        <option value="100">100 registros</option>
                                        <option value="0">Todos</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-row" *ngIf="temposDominios.length">
                            <div class="w-25 d-flex flex-row">
                                <div class="form-group w-100 me-2">
                                    <label style="font-size: 12px;" for="nr-limite">
                                        <b>Mostrar por:</b>
                                    </label>
                                    <select class="form-control form-control-sm w-100" [(ngModel)]="showBy" (change)="charTempoPorDominios()">
                                        <option value="1">segundos</option>
                                        <option value="2" [selected]="true">minutos</option>
                                        <option value="3">Horas</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-3 w-100" *ngIf="temposDominios.length">
                        <apx-chart *ngIf="chartOptions"
                            [series]="chartOptions.series!"
                            [chart]="chartOptions.chart!"
                            [dataLabels]="chartOptions.dataLabels!"
                            [plotOptions]="chartOptions.plotOptions!"
                            [xaxis]="chartOptions.xaxis!"
                        ></apx-chart>
                    </div>

                    <div class="d-flex flex-column w-100 p-3" *ngIf="!temposDominios.length">
                        <div class="card mt-3">
                            <div class="card-body" >
                                <div class="d-flex flex-row">
                                    <span class="pe-2">
                                        Sem registros.
                                    </span>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tempo de pesquisas por dia -->
            <!-- <div class="card mt-4 scrlsty data-card-scroll" style="height: 600px;">
                <div class="card-body p-0">
                    <div class="sticky-top bg-white p-3 shadow-sm" style="z-index: 1;">
                        <div>
                            <span class="fs-6"><b>Tempo de pesquisa por data:</b> </span>
                        </div>

                        <div class="d-flex flex-row">
                            <div class="form-group w-25 me-2">
                                <label style="font-size: 12px;" for="data-inicial">
                                    <b>Data Inicial:</b>
                                </label>
                                <input class="form-control form-control-sm w-100" type="date" id="data-inicial" [(ngModel)]="dataInicial" (change)="setDiasTempo()">
                            </div>
    
                            <div class="form-group w-25 me-2">
                                <label style="font-size: 12px;" for="data-final">
                                    <b>Data Final:</b>
                                </label>
                                <input class="form-control form-control-sm w-100" type="date" id="data-final" [(ngModel)]="dataFinal" (change)="setDiasTempo()">
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-column w-100 p-3" *ngIf="listaDiasTempoHtml.length">
                        <div class="card mt-2" *ngFor="let item of listaDiasTempoHtml">
                            <div class="card-body">
                                <div class="d-flex flex-row">
                                    <span class="ps-1 pe-3">
                                        {{item.data}}
                                    </span>
                                    <span class="text-danger pe-3">
                                        {{item.dia}}
                                    </span>
                                    <span class="">
                                        Total: {{conversor.msToTime(item.total)}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-column w-100 p-3" *ngIf="!listaDiasTempoHtml.length">
                        <div class="card mt-3">
                            <div class="card-body" >
                                <div class="d-flex flex-row">
                                    <span class="pe-2">
                                        Sem registros.
                                    </span>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
           
        </div>
    </div>
</div>